@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-bold";
  src: url("/fonts/RecoletaAlt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
